<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header>
<h1>Contacto</h1>
<img  title="contactoo" src="../static/images/conta.jpg"
 alt="imagen contactoo" width="320" height="240" >


</header>

<nav>
  <ul>
       <li><a href="index.html">Inicio</a></li>
            <li><a href="agenda.html">Agenda</a></li>
            <li><a href="beneficio.html">Beneficios y Becas</a></li>
            <li><a href="contacto.html">Contactanos</a></li>
  
  
  </ul>
</nav>

<section>
 <h1>REGISTRO DE INSCRIPCION</h1>
  <form action="http://www.fi.unju.edu.ar" method="post">
       
       <label>Nombre y Apellido</label>
        <input id="idapellido" type="text" name="apellido"/>
        <br/>
       
       <label>Provincia</label>
  	
  	 <select name="provincia">
  	     <option  value="ju">Jujuy </option>
  	     <option  value="sa">Salta </option>
  	     <option  value="tu">Tucuman </option>
  	     <option  value="bue">Buenos Aires </option>
  	     <option  value="santc">Santa Cruz </option>
  	     <option  value="tief">Tierra del fuego </option>
  	     <option  value="catm">Catamarca </option>
  	     <option  value="sante">Santiago del Estero </option>
  	     <option  value="corri">Corrientes </option>
  	     <option  value="chubu">Chubut </option>
  	     <option  value="rion">Rio Negro </option>
  	     <option  value="santf">Santa Fe </option>
  	     <option  value="mis">Misiones </option>
  	     <option  value="lap">La Pampa </option>
  	     <option  value="sanj">San Juan </option>
  	     <option  value="sanl">San Luis </option>
  	     <option  value="entr">Entre Rios </option>
  	     <option  value="chac">Chaco </option>
  	     <option  value="form">Formosa </option>
  	     <option  value="neuq">Neuquen </option>
  	     <option  value="mendz">Mendoza </option>
  	     <option  value="cordb">Cordoba </option>
  	     <option  value="larioj">La Rioja </option>
  	 
  	 
  	  </select>
       <br/>
  
       <label>Telèfono</label>
        <input id="idtelefono" type="number" name="telefono" />
        <br/>
        <label>Correo electrònico</label>
        <input id="idemail" type="email" name="email" />
         
         
         
  	<br/>
  	<br/>
  	  <label>Estado Civil</label>
  	  <br/>
        <label for="idregular">Casado</label>
        <input id="regular" type="radio" value="regular" name="tipoinscripcion" />
      	<br/>
      	<label for="idlibre">Soltero</label>
  	    <input id="libre" type="radio" value="libre" name="tipoinscripcion" /> 
  	 	<br/>
  	    <label for="idlibree">Otro</label>
  	    <input id="libree" type="radio" value="libree" name="tipoinscripcion" /> 
  	 	<br/>
  	 	<br/>
  	 	
        <div><label>Mensaje:</label><textarea rows='3'></textarea></div> 
        <br/>
  <button type="submit">Enviar datos</button>
  
  </form>
 
 
</section>

<footer>
<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
Argentina  </p>
</footer>


</body>
</html>