<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
<body>
	<header>
		<h1>Idiomas</h1>
	</header>
	<nav>
		<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="agenda.html">Agenda</a></li>
			<li><a href="beneficios.html">Beneficios y Becas</a></li>
			<li><a href="contacto.html">Contáctanos</a></li>
		</ul>
	</nav>
	<section>
		<sub>Lorem Ipsum is simply dummy text of the printing and typesetting
        industry</sub>
        <p>Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.</p>
        <table >
        	<tr>
        		<th>Título del curso</th>
        		<th>fecha inicio</th>
        		<th>horario</th>
        		<th>fecha fin</th>
        		<th>modalidad (virtual/presencial)</th>
        		<th>docente</th>
        		<th>duración en semanas</th>
        	</tr>
        	<tr>
        		<td>Programacion</td>
        		<td>01/03/2022</td>
        		<td>17:00hs</td>
        		<td>06/07/2022</td>
        		<td>virtual</td>
        		<td>Perez daniel</td>
        		<td>a definir</td>	
        	</tr>
        </table>
	</section>
</body>
</html>