 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Inicio</h1>
      <img src="../static/images/calendario.jpg" alt="Calendario" title="Calendario">
    </header>
    <nav>
      <ul>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="agenda.html">Agenda</a></li>
            <li><a href="beneficio.html">Beneficios y Becas</a></li>
            <li><a href="contacto.html">Contáctanos</a></li>
    </nav>
    <section>
      <h2>Cursos con inscripción abierta</h2>
      <ol>
          <li><a href="idiomas.html">Idiomas</a></li>
          <li><a href="">Diseño</a></li>
          <li><a href="">Desarrollo</a></li>
          <li><a href="">Marketing</a></li>
          <li><a href="">Conferencias</a></li>
      </ol> 
    </section>
    <footer>
      <p>
        2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono
        (388) 999999 S. S. de Jujuy República Argentina.
      </p>
    </footer>
  </body>
</html>
